.Error {
  width: 100%;
  display: flex;
}

.Prompt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Arrow {
  width: 13px;
  height: 13px;
  transform: rotate(45deg);
  margin-right: -11px;
  background-color: salmon;
}

.Rectangle {
  z-index: 1;
  display: flex;
  border-radius: 2px;
  width: 100%;
  background-color: salmon;
  justify-content: space-around;
}
.Rectangle > span {
  z-index: 2;
  padding: 5px;
  align-self: center;
  color: white;
  font-size: small;
  font-weight: 400;
  margin-left: 4px;
}
.Rectangle > span:first-letter {
  text-transform: uppercase;
}
