.Input {
  grid-template-columns: [label] 16% [input] auto [validation] 25%;
  margin: 10px auto;
}

.Label {
  grid-column-start: [label];
  grid-column-end: [label];
  font-weight: bold;
  margin-bottom: 8px;
  text-transform: uppercase;
}

/* .InputElement {
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
} */
/* 
.InputElement {
  grid-column-start: [input];
  grid-column-end: [input];
} */

/* .InputElement:focus {
  outline: none;
  background-color: red;
} */

.Invalid {
  border: 1px solid red;
}
