.Input {
  width: 100%;
  box-sizing: border-box;
}

.RadioLabel {
  display: inline-flex;
}
.RadioLabel > input {
  margin: auto 5px auto;
}

.InputNumber {
  width: 15%;
  min-width: 47px;
}

input,
select,
textarea {
  padding: 7px;
  border: 1px solid lightgray;
  border-radius: 2px;
  font-family: inherit;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Invalid {
  border: 1px solid salmon;
}

.Comment {
  display: flex;
  justify-content: space-between;
}
.Comment > span {
  font-size: x-small;
  font-style: italic;
  color: lightgray;
  margin: 0px;
}
