.Input {
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0px 10px;
}
input,
select,
textarea {
  padding: 7px;
  border: 1px solid lightgray;
  border-radius: 2px;
  font-family: inherit;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Label {
  text-transform: uppercase;
  font-size: small;
  color: #355990;
  font-weight: 500;
}
.Label > *:last-child {
  color: salmon;
}
.Columns {
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(0, 6fr) minmax(0, 3fr);
  grid-template-columns: 18% 57% 23%;
  grid-column-gap: 5px;
}

.Invalid {
  border: 1px solid salmon;
}

.FullWidth {
  width: 100%;
  box-sizing: border-box;
}

.NumberWidth {
  width: 15%;
}

.Comment {
  display: flex;
  justify-content: space-between;
}
.Comment > span {
  font-size: x-small;
  font-style: italic;
  color: lightgray;
  margin: 0px;
}
.MainInputs > * {
  margin-right: 10px;
  font-size: small;
}
.MainInputs > *:last-child {
  margin-right: 0px;
}
