.Label {
  text-transform: uppercase;
  font-size: small;
  color: #355990;
  font-weight: 500;
  margin-top: 0.5rem;
}
.Label > *:last-child {
  color: salmon;
}
.Columns {
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(0, 6fr) minmax(0, 3fr);
  grid-column-gap: 5px;
  min-width: 487px;
  min-height: 33.24px;
  margin: 10px 0px 10px;
}

.MainInputs > * {
  margin-right: 10px;
  font-size: small;
}
.MainInputs > *:last-child {
  margin-right: 0px;
}
