.Body {
  width: 80%;
  margin: 15px auto;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 3px lightgray;
}
.Form {
  width: 88%;
  border-top: 1px solid lightgrey;
  margin: 15px auto;
}
.Text {
  color: #355990;
  font-weight: 450;
}
